/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
  }

img {
    max-width: 100%;
    height: auto;
    width: auto;
    border-radius: 8px;
    margin: 2rem auto 0rem;
}

body{
    background-color: #A5C9CA;
    color:#E7F6F2;
}

h2{
    padding-bottom: 1rem;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #E7F6F2;
    border-radius: 4px;
    font-size: 16px;
    background-color: #E7F6F2;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 100%;
    2px solid #E7F6F2;
  }

.top-bar{
background-color: #2C3333;
color: #E7F6F2;
padding: 1rem;
}

.dog-image{
 width: 50%;
 margin: auto;
}

.name-request{
    width: 50%;
    margin:auto;

}

.main-div{
    height:100%;
}

.close-button{
    background-color: #2C3333;
    border: none;
    color: #E7F6F2;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }

.result{
    display: none;
  }

/* aligning the dog image and name request and making their divs responsive using flex */
.flex-container {
    display: flex;
    height: 100%;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
  }
  
  .flex-item-left {
    /* background-color: #f1f1f1; */
    padding: 10px;
    flex: 50%;
    margin:auto;
  }
  
  .flex-item-right {
    /* background-color: dodgerblue; */
    padding: 10px;
    flex: 50%;
  }
  
  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
    .dog-image{
        width: 100%;
        margin: auto;
    }
    
    .name-request{
        width: 100%;
        margin:auto;
    
    }

  }